.notification-list {
  position: relative;
  
  .notification-bar {
    position: relative !important;
    bottom: auto !important;
    right: 0;
    left: 0 !important;
    margin: 5px 0px !important;
    font-size: 12px !important;
    background-color: $error !important;
  }
}
